# Temp files
.DS_Store
*~
buck-out/

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/
/src/muon/_version.py

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/
